{% extends "layout.html.twig" %}
{% block title %}Lise yıl sonu kredisi hesap uygulaması - {% endblock %}
{% block desc %}Lise yıl sonu kredisi hesap uygulaması yıl sonu kredinizi kolayca hesaplayabilirsiniz. (c) Batuhan İçöz{% endblock %}
{% block add_to_header %}
<style>
.ittir {
padding-left:20px;
}
</style>
{% endblock %}

{% block add_to_footer %}
<script type="text/javascript">
$(document).ready(function() {

	console.log('sistem baslatildi');
	
	var derssayisi = 2;
	console.log(derssayisi + ' ders var');
		
	$('#dersekle').click(dersEkle());
    
	function dersEkle(){
		console.log(derssayisi + ' ders var, ekleme öncesi');
		derssayisi = derssayisi + 1;
		console.log(derssayisi + ' ders var, ekleme öncesi');
		$('.dersler:last').after('<tr class="dersler" id="ders' + derssayisi + '"><td><h5 class="span3"><span id="ders' + derssayisi + '_adi_baslik">Ders ' + derssayisi + '</span></h5></td><td><input class="span1" id="ders' + derssayisi + '_notu" name="dersNotu[]" type="text" placeholder="3" /></td><td><input class="span1" id="ders' + derssayisi + '_saati" name="dersSaati[]" type="text" placeholder="4" /></td><td><input class="span4" id="ders' + derssayisi + '_adi" name="dersAdi[]" type="text" placeholder="Ders adı" /></td></tr>');
		console.log('bir ders eklendi');
		console.log(derssayisi + ' ders var, ekleme sonrası');
		
		kontrolMekanizmasi();
			
	}
	
	
	$('#derscikar').click(dersCikar());
    
	function dersCikar(){

		console.log(derssayisi + ' ders var, çıkarma öncesi');
		if(derssayisi == 1){
			console.log('tek ders var, silmesek daha iyi kanka');
		}else{
			$('#ders' + derssayisi).remove();
			derssayisi = derssayisi - 1;
			console.log('bir ders cikartildi');
			console.log(derssayisi + ' ders var, çıkarma sonrası');
		}
	
	}
	    
	
	function kontrolMekanizmasi(){
		$('input[name*="dersAdi"]').keyup(function(dersBaslikBilgileri){
			
			$('#' + dersBaslikBilgileri.target.id + '_baslik').html(dersBaslikBilgileri.target.value);

		});
	}
	
	kontrolMekanizmasi();
	
});
</script>
{% endblock %}

{% block content %}
    <div class="container">
		
		<!-- Lise kredi hesaplama
		================================================== -->
		<section id="okulkredisihesaplama">
		  <div class="page-header">
		    <h1>Kaç kredim var? <small>Lise öğrencilerine yıl sonu kredisi hesaplama uygulaması</small></h1>
		  </div>
		  <div class="row">
		    <div class="span11">
		<div id="debug" style="display:none;">DEBUG THIS</div>
				<form action="okulkredisihesapla-sonuc.html" method="get">
						<table border="0">
							<tr class="dersler" id="ders1">
								<td><h5 class="span3"><span id="ders1_adi_baslik">Ders 1</span></h5></td>
								<td><input class="span1" id="ders1_notu" name="dersNotu[]" type="text" placeholder="5" /></td>
								<td><input class="span1" id="ders1_saati" name="dersSaati[]" type="text" placeholder="3" /></td>
								<td><input class="span4" id="ders1_adi" name="dersAdi[]" type="text" placeholder="Matematik" /></td>
							</tr>
							<tr class="dersler" id="ders2">
							<td><h5 class="span3"><span id="ders2_adi_baslik">Ders 2</span></h5></td>
								<td><input class="span1" id="ders2_notu" name="dersNotu[]" type="text" placeholder="3" /></td>
								<td><input class="span1" id="ders2_saati" name="dersSaati[]" type="text" placeholder="4" /></td>
								<td><input class="span4" id="ders2_adi" name="dersAdi[]" type="text" placeholder="İngilizce" /></td>
							</tr>

						</table>
						<input type="hidden" name="lang" value="tr" />
						<div class="well">
						<a href="#" class="btn large info" id="dersekle">+ Ders Ekle</a>
				        <a href="#" class="btn large info" id="derscikar">- Ders Çıkar</a>
				        
						<input type="submit" value="Hesapla" class="btn large primary" />
				        <input type="reset" value="Sıfırla" class="btn large" />
				      </div>
					</form>
					
			</div>
			<div class="span5" align="right">
		      <h2>Yardım</h2>
		      <p>Sağ tarafta ilk boşluğa dersteki yıl sonu notunu 5 üstünden, ikinci boşluğa dersin haftalık saat sayısını ve sonraki sayfada düzeltme yapabilmek veya bilgileri paylaşabilmek için üçüncü boşluğa ders adı girebilirsin. Üçüncü kısım boş bırakılabilir.</p>
		{% if dersler is defined %}
			  <h2>Sonuçlar</h2>
			  <p><strong>Kredi: </strong> {{ toplamkredi }}</p>
			  <p>Nasıl hesapladık?<br />
			Ders: (ders notunuz * haftalık ders saati)
			<br />
			 {% for ders in dersler %}
			 {{ ders }}
			<br />
			{% endfor %}
			</p>
		{% endif %}
		    </div>
		  </div><!-- /row -->
		</section>
	
    </div> <!-- /container -->


{% endblock %}