{% extends "layout.html.twig" %}

{% block title %}Error 404 - {% endblock %}

{% block content %}
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>four-oh-four</h1>
        <p>The page you've requested does not exist.<br />
        Believe, we've looked... We have re-index our servers, talked with experts...<br />
        Some people said it existed once upon a time and it will come back,<br/>
        others doesn't even believe it ever existed.</p>
      </div>
      
    </div> <!-- /container -->
{% endblock %}