{% extends "layout.html.twig" %}

{% block title %}{{ app.translator.trans('about_title') }} {% endblock %}

{% block content %}
    <div class="container">

<!-- About Bootstrap
================================================== -->
<section id="about">
  <div class="page-header">
    <h1>About Me <small>Who am I, where I was born, how I grew up and so on.</small></h1>
  </div>
  <div class="row">
    <div class="span6 columns">
      <h3>A brief introduction</h3>
	  <p>Hello, my name is Fırat Batuhan İçöz and I'm a web developer.</p>
	  <p>I have (co-)founded few projects/start-up's, most notably Sosyal Radyo.</p>
	  <p>And I'm also a high school junior who's studying foreign languages.</p>
	</div>
    <div class="span5 columns">
      <p>
      	<img width=250px src="http://batu.me/wp-content/uploads/2011/01/30194_1461498257498_1234684607_31364564_2550044_n-3.jpg" />
      </p>
    </div>
    <div class="span5 columns">
      <h3>What's included</h3>
      <p>Bootstrap comes complete with compiled CSS, uncompiled, and example templates.</p>
      <ul>
        <li>All original .less files</li>
        <li>Fully compiled and minified CSS</li>
        <li>Complete styleguide documentation</li>
        <li>Example page template (more to come soon)</li>
      </ul>
    </div>
  </div><!-- /row -->
</section>



    </div> <!-- /container -->

{% endblock %}