{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">



<!-- Using Bootstrap w/ Less
================================================== -->
<section id="contact">
<div class="page-header">
  <h1>Contact me <small>my e-mails, mobile number, home address and more.</small></h1>
</div>
<div class="row">
  <div class="span16 columns">
    <p>It is fairly easy to contact me and generally I respond fast, but sometimes, I can be too busy to answer, so, before you try to contact me, 
    keep in mind that it may take 1 to 3 days to get a respond.</p>
    
    <h3>e-mail(s) <small>are the <i>fastest</i> way.</small></h3>
    <p>My primary e-mail address is i@batu.me but sometimes e-mail clients are finding it short and says it's not real, if that happens, you can use batuhanicoz@gmail.com, which is slower, but works. <br />
    Also, if you're comfortable with Facebook Messages, you can always use batuhanicoz@facebook.com but if your e-mail ends up in Other section, sorry, I'm checking it once 1 week.
    </p>
    
    <h3>phone(s) <small>my <i>favorite</i> way.</small></h3>
    <p>My primary cell phone number is +90 (538) 878 10 16 (Vodafone TR) and I'm a WhatsApp and blip.me user so you can use those applications to contact me.
    <br />
    </p>
    
    <h3>form <small><i>some people's favorite</i> way.</small></h3>
    <p>just a simple form, names and e-mails are not required. also, this is the recommend way for death treats. (have some death treats? formspring is more anon. but this is faster, your choice.<br />
    
      <form>
          <div class="clearfix">
            <label for="textarea">Your message<strong>*</strong></label>
            <div class="input">
              <textarea class="xxlarge" id="textarea" name="textarea"></textarea>
              <span class="help-inline">This is the only required field.</span>
              <span class="help-block">
                Be clean and use dots, commas and breaks. 
              </span>
            </div>
          </div><!-- /clearfix -->
        <fieldset>
          <div class="clearfix">
            <label for="xlInput">Your name</label>
            <div class="input">
              <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text" />
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="xlInput">Your e-mail</label>
            <div class="input">
              <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text" />
            </div>
          </div><!-- /clearfix -->
        </fieldset>
          <div class="actions">
            <button type="submit" class="btn primary">Send this sucker!</button>&nbsp;<button type="reset" class="btn">le reset</button>
          </div>
        </fieldset>
      </form>

    <br />
    </p>
    <h3>other ways <small>just a <i>few other</i> way.</small></h3>
    <p>My primary cell phone number is +90 (538) 878 10 16 (Vodafone TR) and I'm a WhatsApp and blip.me user so you can use those applications to contact me.
    <br />
    </p>
 </div>
</div>

</section>

    </div> <!-- /container -->

{% endblock %}