{% extends "layout.html.twig" %}
{% block is_contact %} class="active"{% endblock %}

{% block content %}
    <div class="container">

<!-- Contact
================================================== -->
<section id="contact">
<div class="page-header">
  <h1>Contact me <small>my e-mails, mobile number, home address and more.</small></h1>
</div>
<div class="row">
  <div class="span16 columns">
    <p>It is fairly easy to contact me and generally I respond fast, but sometimes, I can be too busy to answer, so, before you try to contact me, 
    keep in mind that it may take 1 to 3 days to get a respond.</p>
    
    <h3>e-mail(s) <small>are the <i>fastest</i> way.</small></h3>
    <p>My primary e-mail address is i@batu.me but sometimes e-mail clients are finding it short and says it's not real, if that happens, you can use batuhanicoz@gmail.com, which is slower, but works. <br />
    Also, if you're comfortable with Facebook Messages, you can always use batuhanicoz@facebook.com but if your e-mail ends up in Other section, sorry, I'm checking it once 1 week.
    </p>
    
    <h3>phone(s) <small>my <i>favorite</i> way.</small></h3>
    <p>My primary cell phone number is +90 (538) 878 10 16 (Vodafone TR) and I'm a WhatsApp and blip.me user so you can use those applications to contact me.
    <br />
    </p>

    <h3>anonymous chat <small>most <i>anonymous</i> way.</small></h3>
    <p>If you click on "Wanna chat?" link, it will open a page where you can anonymously chat with me.
	<br />Totally free*. Totally safe**. Totally anonymous***.
    <br />
	<img style="padding: 0 2px 0 0; margin: 0; border: none;" src="http://www.google.com/talk/service/resources/chaticon.gif" alt="" width="16" height="14" /><img style="padding: 0 2px 0 0; margin: 0; border: none;" src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqr7vcn8qvf6qdpl96k0m8cc599d93lvd95u2sgl0kp146kfa53jfb6md0r276anle8j95ivopt6p9ibjistu9kp3pmqbuobn3s27g412fkbtaisvsd29kljf02nt6uurkaf5gmmg010eb020sf47ld1jipljodpot56s52nal2m56cvvuqutj03as04&amp;w=9&amp;h=9" alt="" width="9" height="9" /><a title="Click here to chat with Fırat Batuhan İçöz" href="http://www.google.com/talk/service/badge/Start?tk=z01q6amlqr7vcn8qvf6qdpl96k0m8cc599d93lvd95u2sgl0kp146kfa53jfb6md0r276anle8j95ivopt6p9ibjistu9kp3pmqbuobn3s27g412fkbtaisvsd29kljf02nt6uurkaf5gmmg010eb020sf47ld1jipljodpot56s52nal2m56cvvuqutj03as04" target="_blank">Wanna chat?</a>
    </p>

    <h3>other ways <small>just a <i>few other</i> way.</small></h3>
    <p>You can use Skype ("batuhanicoz"), iChat ("batuhanicoz") or GTalk ("batuhanicoz@gmail.com") to contact me instantly.
    <br />
    </p>
 </div>
</div>
<i>*I won't open my web camera for you so I won't ask for your money.
**I didn't buy a SSL certificate, this connection is not safe. But connection in the chat page is.
***This is my website and I can track every click to every page of this website, I do have your information like your IP, browser, screen resolution, how did you lose your virginity, your service provider, what operating system you're using, how many minutes you spent on this page.</i>
</section>

    </div> <!-- /container -->

{% endblock %}