{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>{{ hellotext }}, I'm Batuhan.</h1>
        <p>I'm a {{ beenalivefor }}-day-old web developer, 
        teen entrepreneur and a student. </p>
        <p>
       	<a href="http://www.facebook.com/batuhanicoz">
    		<img src="http://batuhanicoz.com/assets/images/icons/facebook-32x32.png" class="small" alt="Facebook" />
       	</a>
        <a href="https://github.com/batuhanicoz">
        	<img src="http://batuhanicoz.com/assets/images/icons/github-32x32.png" class="small" alt="Github" />
        </a>
		<a href="http://shareables.me">
			<img src="http://batuhanicoz.com/assets/images/icons/tumblr-32x32.png" class="small" alt="Tumblr" />
		</a>
  		<a href="http://foursquare.com/batuhanicoz">
  			<img src="http://batuhanicoz.com/assets/images/icons/foursquare-32x32.png" class="small" alt="Foursquare" />
  		</a>
		<a href="http://www.linkedin.com/in/batuhanicoz">
			<img src="http://batuhanicoz.com/assets/images/icons/linkedin-32x32.png" class="small" alt="LinkedIn" />
		</a>
		<a href="https://plus.google.com/107704817814341858380">
			<img src="http://batuhanicoz.com/assets/images/icons/google-plus-32.png" class="small" alt="Google+" />
		</a>
		<a href="http://last.fm/user/batuhanicoz">
			<img src="http://batuhanicoz.com/assets/images/icons/lastfm-32x32.png" class="small" alt="Last.fm" />
		</a>
		<a href="http://www.formspring.me/batuhanicoz">
			<img src="http://batuhanicoz.com/assets/images/icons/formspring-32x32.png" class="small" alt="Formspring" />
		</a>
		<a href="http://twitter.com/batuhanicoz" class="twitter-follow-button" data-show-count="false">Follow @batuhanicoz</a>
		</p>
		<p>
			<a class="btn primary large">About me &raquo;</a>
			<a class="btn primary large">My projects &raquo;</a>
			<a class="btn primary large">Contact me &raquo;</a>
		</p>
      </div>

    </div> <!-- /container -->

{% endblock %}