{% extends "layout.html.twig" %}
{% block is_contact %} class="active"{% endblock %}
{% block add_to_header %} {% endblock %}
{% block add_to_footer %} <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script> {% endblock %}

{% block content %}
    <div class="container">

<!-- Contact
================================================== -->
<section id="contact">
<div class="page-header">
  <h1>İletişime geç <small>iletişim bilgilerim</small></h1>
</div>
<div class="row">
  <div class="span16 columns">
    <p>Ulaşması gerçekten kolay biriyim, ama bana inanmak zorunda değilsiniz, bugün BEDAVA deneyebilirsiniz!!11</p>
    
    <h3>e-posta(lar) <small><i>en hızlı</i> yöntem.</small></h3>
    <p>E-posta adresim <a href="mailto:i@batu.me">i@batu.me</a> ancak bazı uygulamalar bunu kısa ve "gerçek dışı" buluyor, böyle bir şey olursa, <a href="mailto:batuhanicoz@gmail.com">batuhanicoz@gmail.com</a> adresini kullanın, daha az gösterişli ama çalışıyor! <br />
    </p>
    
    <h3>telefon(lar) <small>benim <i>favori</i> yöntemim.</small></h3>
    <p>Telefon numaram <a href="tel:+905388781016">+90 (538) 878 10 16</a> (Vodafone TR) ve WhatsApp ve blip.me uygulamaları telefonumda kurulu.
    <br />
    </p>

    <h3>anonim görüşme <img height="9" width="9" style="padding:0 2px 0 0;margin:0;border:none" src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqt4368hboufgb4q0ctfihehp4am5k3l4pqi9kge52q39te78c548k9mu40iup1ddupiuffhj3ac7gqln9frth1190m6f8u2pefp3monlnd83khhu3spd7btsam16o9sojk7o921f6mg9t44d0acs3p5d2s6una5qd&amp;w=9&amp;h=9" alt=""><small>en <i>anonim</i> yöntem.</small></h3>
    <p>
	<a href="http://www.google.com/talk/service/badge/Start?tk=z01q6amlqt4368hboufgb4q0ctfihehp4am5k3l4pqi9kge52q39te78c548k9mu40iup1ddupiuffhj3ac7gqln9frth1190m6f8u2pefp3monlnd83khhu3spd7btsam16o9sojk7o921f6mg9t44d0acs3p5d2s6una5qd" target="_blank" title="Görüşmek için buraya tıklayın">Buraya tıklayın</a> ve eğer çevrimiçiysem aramızda anonim bir hat oluşacak. Hoş, değil mi?
    </p>

    <h3>diğer</h3>
    <p>Benimle ayrıca Skype ("<a href="skype:batuhanicoz?add">batuhanicoz</a>") <a href="skype:batuhanicoz?call"><img src="http://mystatus.skype.com/smallicon/batuhanicoz" style="border: none;" width="16" height="16" alt="My status" /></a>, iChat ("batuhanicoz") veya GTalk ("batuhanicoz@gmail.com") <img height="9" width="9" style="padding:0 2px 0 0;margin:0;border:none" src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqt4368hboufgb4q0ctfihehp4am5k3l4pqi9kge52q39te78c548k9mu40iup1ddupiuffhj3ac7gqln9frth1190m6f8u2pefp3monlnd83khhu3spd7btsam16o9sojk7o921f6mg9t44d0acs3p5d2s6una5qd&amp;w=9&amp;h=9" alt=""> ile görüşebilirsiniz..
    <br />
    </p>

	<p>
	<a href="http://static.batu.me/assets/other/batuhanicoz.vcf">
		<img src="http://static.batu.me/assets/img/icons/vcard-32x32.png" border="0" alt="vCard" />
   	</a>
	<a href="mailto:batuhanicoz@gmail.com">
		<img src="http://static.batu.me/assets/img/icons/email-32x32.png" border="0" alt="vCard" />
   	</a>
	<a href="skype:batuhanicoz?add">
		<img src="http://static.batu.me/assets/img/icons/skype-32x32.png" border="0" alt="Skype" />
   	</a>
	<a href="msnim:add?contact=batuhanicoz@gmail.com">
		<img src="http://static.batu.me/assets/img/icons/messenger-32x32.png" border="0" alt="Windows Live Messenger" />
   	</a>
	<a href="http://www.facebook.com/batuhanicoz">
		<img src="http://static.batu.me/assets/img/icons/facebook-32x32.png" border="0" alt="Facebook" />
   	</a>
	<a href="http://twitter.com/batuhanicoz">
		<img src="http://static.batu.me/assets/img/icons/twitter-32x32.png" border="0" alt="Twitter" />
   	</a>
	<a href="http://www.formspring.me/batuhanicoz">
		<img src="http://static.batu.me/assets/img/icons/formspring-32x32.png" border="0" alt="Formspring" />
	</a>
	</p>
 </div>
</div>
</section>

    </div> <!-- /container -->

{% endblock %}